.hr-gradient {
	border: 0;
	height: 1px;
	width: 95%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(48, 48, 48, 0.75), rgba(0, 0, 0, 0));
	margin: 39px 0 36px 0;
}

.page-template-page-grid {
	
	#main-box {
		width: 95%;
		max-width: 1000px;
	}
	
	#content {
		padding: 15px 0;
		
		article {
			padding: 0 80px;
		}
	}
}

#amd-widget-grid {
	margin-left: 0;
	padding: 0.9rem;
				
	.widget-title {
		margin-top: 0;
	}
}

.grid-widget {
	margin-bottom: 2rem;
	
	p {
		margin: 0 0 0.6rem 0;
	}
	
	img {
		border: none;
	}
}

@media only screen and
(min-width: 600px) {
	
	#amd-widget-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.grid-widget {
		width: 37%;
		padding: 2rem 1.6rem;
        margin-bottom: 0;
	}
}

@media only screen and
(min-width: 950px) {
	
	.grid-widget, .grid-widget:nth-child(even) {
		width: 27%;
		
	}
	
}
