/* Colors */

$content-background-color: #fffff0;
$body-background-color: #43548a;
$callout-color: #993300;
$amd-brown: #7d460b;
$content-text-color: #544f4f;
$grid-font-family: 'Lato', sans-serif;
$a-tags: 'a, :active, a:visited';
$a-tags-hover: 'a:hover, a:focus, a:active';


